In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
test_df=pd.read_csv('test.csv')

In [42]:
# detecting features which contains more than 50% null of total samples
nully_features = [features for features in test_df.columns if test_df[features].isnull().sum() > len(test_df[features])/2]

# fireplace was issued in train so will not drop it
nully_features.remove('FireplaceQu')
nully_features

['Alley', 'PoolQC', 'Fence', 'MiscFeature']

In [43]:
# dropping nully features
test_df = test_df.drop([features for features in nully_features], axis = 1)

In [44]:
test_df.shape

(1459, 76)

In [45]:
test_df.isnull().sum().sum()

1615

In [46]:
# imputing less nully features both categorical and numerical
for column in test_df.columns:
    if column in test_df.select_dtypes(include=['object']).columns:
       test_df[column]=test_df[column].fillna(test_df[column].mode()[0])
    elif column in test_df.select_dtypes(include=np.number).columns:       
        test_df[column]=test_df[column].fillna(test_df[column].mean())

In [47]:
test_df.isnull().sum().sum()

0

In [48]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal

In [49]:
test_df.drop(['Id'],axis=1,inplace=True)

In [50]:
test_df.shape

(1459, 75)

In [39]:
test_df.to_csv('formulatedtest.csv',index=False)